.App {
  text-align: center;
}

pre {
  margin-top: 2rem;
  background-color: rgb(233, 233, 233);
  color: black;
  width: 30vw;
}
.tittle{
  margin-top: 10vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.instructions{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.25rem;
}
ol{
  font-size: 2vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resp{
  margin-top: 10vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
pre{
  width: fit-content;
}
Form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}